<div class="main">
    {{> nav}}

    <div class="content">
        <ul class="menu">
            <li class="title" onclick="changeFileName('{{name}}')">zmiana nazwy</li>
            <a href="/showFile?filename={{currentDir}}/{{name}}">
                <li class="title">podgląd pliku</li>
            </a>
            <li class="title saveBtn" onclick="saveImage('{{currentDir}}', '{{name}}')">Zapisz</li>

        </ul>
        <dialog id="dialog">
            <p></p>
            <form action="" method="get">
                <input type="hidden" name="currentDir" value="{{currentDir}}/{{name}}">
                <input type="text" name="name">
                <button type="submit">OK</button>
                <button type="reset" onclick="hideDialog()">cancel</button>
            </form>
        </dialog>
        <div style="width: 100%;">
            <p class="editorHeader">{{currentDir}}/{{name}}</p>
            <div class="imageEditor">
                <script src="./js/imageEditor.js"></script>
                <div>
                    <button class="title btn" type="button" onclick="toggleFiltersMenu()">Filters</button>
                    <ul id="filtersMenu" style="height: 0px;">
                        {{#each filter}}
                            <li>
                                <div class="filters"
                                    style="background-image: url('{{../image_path}}'); filter: {{this}}(100%);"
                                    onclick="setFilter('{{this}}')"></div>
                                <p>{{this}}</p>
                            </li>
                        {{/each}}
                        <li>
                            <div class="filters" style="background-image: url('{{image_path}}');" onclick="setFilter()">
                            </div>
                            <p>none</p>
                        </li>
                    </ul>
                </div>
                <div class="mainImage" style="background-image: url('{{image_path}}');
                {{#with dimensions}}width: {{width}}px; height: {{height}}px;{{/with}}"></div>
                <canvas></canvas>
            </div>
        </div>
    </div>
</div>