<div class="main">
    {{> nav}}

    <div class="content">
        <ul class="menu">
            <li>
                <div class="title" onclick="changeFont(1)">font +</div>
                <div class="title" onclick="changeColor()">kolory</div>
                <div class="title" onclick="changeFont(-1)">font -</div>
            </li>
            <li class=" title" onclick="saveConfig()">zapisz ustawienia
            </li>
            <li class="title" onclick="changeFileName('{{name}}')">zmiana nazwy</li>
            <a href="/showFile?filename={{currentDir}}/{{name}}">
                <li class="title">podgląd pliku</li>
            </a>
        </ul>
        <dialog id="dialog">
            <p></p>
            <form action="" method="get">
                <input type="hidden" name="currentDir" value="{{currentDir}}/{{name}}">
                <input type="text" name="name">
                <button type="submit">OK</button>
                <button type="reset" onclick="hideDialog()">cancel</button>
            </form>
        </dialog>
        <div style="width: 100%;">
            <p class="editorHeader">{{currentDir}}/{{name}}</p>
            <div class="textEditor">
                <div class="line-numbers">
                    <span></span>
                </div>
                <textarea name="{{name}}" cols="30">{{buffer}}</textarea>
                <script src="./js/textarea.js"></script>
            </div>
            <button type="button" class="title btn" onclick="saveFile('{{currentDir}}/{{name}}')">Zapisz</button>
        </div>
    </div>
</div>