<div class="element file">
    <div class="upper-part">
        <img src="{{img}}" alt="{{type}}">
        <a href="/delete?dirName={{currentDir}}&name={{name}}">X</a>
    </div>
    <a href="/{{editorType name}}?dirName={{currentDir}}&name={{name}}">{{name}}</a>
</div>