<tr>
    <td>{{id}}</td>
    <td><img src="/gfx/{{img}}" alt="{{img}}"></td>
    <td>{{name}}</td>
    <td>{{size}} B</td>
    <td>{{type}}</td>
    <td><a href="/show/{{id}}">SHOW</a></td>
    <td><a href="/info?id={{id}}">INFO</a></td>
    <td><a href="/download?id={{id}}">DOWNLOAD</a></td>
    <td><a href="/delete/{{id}}">DELETE</a></td>
</tr>