<div class="main">
    {{> nav}}

    <div class="content">
        <ul class="menu">
            <li class="title">multiupload</li>
        </ul>
        <table class="info">
            <tr>
                <th>id:</td>
                <td>{{id}}</td>
            </tr>
            <tr>
                <th>name:</td>
                <td>{{name}}</td>
            </tr>
            <tr>
                <th>path:</td>
                <td>{{path}}</td>
            </tr>
            <tr>
                <th>size:</td>
                <td>{{size}} B</td>
            </tr>
            <tr>
                <th>type:</td>
                <td>{{type}}</td>
            </tr>
            <tr>
                <th>savedate:</td>
                <td>{{savedate}}</td>
            </tr>
        </table>
    </div>
</div>
